body {
  font-size: 1rem;
}

.navbar {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'LeikoiMayekHU';
}

.language .fa-font {
  font-size: 1.4rem;
}

.form-control {
  font-size: 0.9rem;
}

.leader, .leaderName {
  font-size: 1rem;
}

h1, .articleTitle {
  font-size: 1.3rem;
}

.birthText, .articleList, .articleText {
  font-size: 1rem;
}

.btn {
  font-size: 1rem;
}

.latestText, .latestText div:last-child {
  font-size: 1.1rem;
}

@keyframes slideNews {
  0% {
    top: 1%;
  }

  50% {
    top: 60%;
  }

  100% {
    top: 1%;
  }
}

footer {
  font-size: 1rem;
}

.copyright {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .copyright {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 0.7rem 0.3rem;
  }
}

@media screen and (min-width: 1310px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 0.7rem;
  }
}