@media screen and (min-width: 992px) {
  .navbar {
    font-size: 0.8rem;
  }
  .manipuri {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1450px) {
  .navbar {
    font-size: 1rem;
  }
  .manipuri {
    font-size: 1.1rem;
  }
}
