/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--agriSaffron);
  border-radius: 10px;
}

/* Webfont: AnoubaNU */@font-face {
  font-family: 'AnoubaNU';
  src: url('/fonts/AnoubaNU.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/AnoubaNU.woff') format('woff'), /* Modern Browsers */
       url('/fonts/AnoubaNU.woff2') format('woff2'), /* Modern Browsers */
       url('/fonts/AnoubaNU.ttf') format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

/* Webfont: LeikoiMayekAU */@font-face {
  font-family: 'LeikoiMayekAU';
  src: url('/fonts/LeikoiMayek AU.eot'); /* IE9 Compat Modes */
  src: url('/fonts/LeikoiMayek AU.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/LeikoiMayek AU.woff') format('woff'), /* Modern Browsers */
       url('/fonts/LeikoiMayek AU.woff2') format('woff2'), /* Modern Browsers */
       url('/fonts/LeikoiMayek AU.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: LeikoiMayekAkhuba ANU */@font-face {
  font-family: 'LeikoiMayekAkhubaANU';
  src: url('/fonts/LeikoiMayekAkhuba ANU.eot'); /* IE9 Compat Modes */
  src: url('/fonts/LeikoiMayekAkhuba ANU.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/LeikoiMayekAkhuba_ANU.woff') format('woff'), /* Modern Browsers */
       url('/fonts/LeikoiMayekAkhuba_ANU.woff2') format('woff2'), /* Modern Browsers */
       url('/fonts/LeikoiMayekAkhuba ANU.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  /* Colors */
  --agriGreen: #317F07;
  --agriSaffron: #ce8540;
  --textGray: rgb(250, 250, 250);
}

body {
  font-family: 'LeikoiMayekAkhubaANU', sans-serif;
  background-color: var(--agriGreen);
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 0.1rem;
}

@media screen and (min-width: 1200px) {
  main {
    width: 90%;
  }
}

.headerBackground {
  background: url("/images/Header_background.jpg") no-repeat center center;
  background-size: cover;
  border: 1px solid #fff;
}

.headerBackground img {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .headerBackground img {
    width: auto;
  }
}

.navbar {
  background-color: #eeaa69;
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 1px solid #fff;
}

.navbar-brand {
  display: block;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.7);
  padding: 0.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--dark);
  color: #fff;
  text-decoration: underline;
}

.form-control {
  margin-left: 0.5rem;
  width: 90%;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0 0.5rem 0 0;
    font-size: 1.1rem;
  }
  
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    font-size: 1.4rem;
  }
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .mainGrid {
    grid-template-columns: 27% auto 27%;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
  }
}

.gallery {
  padding: 1rem;
  position: relative;
}

.gallery img {
  width: 100%;
  height: 20rem;
}

.slide {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 3rem;
  color: #fff;
  opacity: 0.2;
  transition: all 0.5s ease;
  cursor: pointer;
}

.slide:hover {
  opacity: 0.8;
}

.rightSlide {
  left: 90%;
}

.leader {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  border: 1px solid rgb(205, 229, 239);
  background-color: rgb(236, 249, 255);
  margin: 1rem 0.5rem;
}

.leaderPhoto {
  width: 50%;
  padding: 1rem;
}

.leaderPhoto img{
  width: 100%;
  height: 10rem;
}

.leaderPhoto img:hover {
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
}

.leaderName {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
}

.leaderName div:first-child {
  font-weight: 700;
}

.leaderName div:last-child {
  font-family: 'LeikoiMayekAU';
}

.birth {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  background-color: var(--textGray);
}

h1, .articleTitle {
  font-family: 'LeikoiMayekAU';
  font-size: 1.6rem;
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 0.1rem 0.5rem;
}

.birthText, .articleList, .articleText {
  font-size: 1.3rem;
}

.birthText {
  margin: 1rem 0;
}

.birth .btn {
  margin: 0.5rem 0;
}

.program {
  text-align: center;
  margin: 1rem;
}

.program img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 20%);
}

.btn {
  font-size: 1.2rem;
  font-family: 'LeikoiMayekAU';
}

.article {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--textGray);
  color: #0000CD;
}

.articleList ul {
  list-style-type: square;
  padding-left: 1.2rem;
}

.articleList ul li:hover {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

.latestNews {
  height: 25rem;
}

.latestText {
  position: relative;
  animation-name: slideNews;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 2s;
}

@keyframes slideNews {
  0% {
    top: 1%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 1%;
  }
}

.latestText div:first-child {
  font-family: 'LeikoiMayekAU';
}

.latestText div:last-child {
  font-size: 1.3rem;
  color: #000;
}

.banner {
  text-align: center;
  margin: 0.5rem;
  padding: 0.4rem 0.2rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
}

.subGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.tender, .download {
  margin: 1rem 0;
}

.download {
  height: 39rem;
}

footer {
  background: url("/images/footer.png") no-repeat;
  background-size: cover;
  margin: 1rem;
  padding: 2rem;
  font-size: 1.3rem;
}

.policies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.policies div {
  padding-right: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 567px) {

}