/* Webfont: LeikoiMayekAkhuba ANU */@font-face {
    font-family: 'LeikoiMayekAkhubaANU';
    src: url('LeikoiMayekAkhuba ANU.eot'); /* IE9 Compat Modes */
    src: url('LeikoiMayekAkhuba ANU.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LeikoiMayekAkhuba ANU.woff') format('woff'), /* Modern Browsers */
         url('LeikoiMayekAkhuba ANU.woff2') format('woff2'), /* Modern Browsers */
         url('LeikoiMayekAkhuba ANU.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

