/* Webfont: LeikoiMayekAkhuba */@font-face {
    font-family: 'LeikoiMayekAkhuba';
    src: url('LeikoiMayekAkhuba.eot'); /* IE9 Compat Modes */
    src: url('LeikoiMayekAkhuba.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LeikoiMayekAkhuba.woff') format('woff'), /* Modern Browsers */
         url('LeikoiMayekAkhuba.woff2') format('woff2'), /* Modern Browsers */
         url('LeikoiMayekAkhuba.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

