/* Webfont: LeikoiMayekAkhuba ANU */@font-face {
    font-family: 'LeikoiMayekAkhubaANU';
    src: url('LeikoiMayekAkhuba ANU.woff2') format('woff2'), /* Modern Browsers */
         url('LeikoiMayekAkhuba ANU.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

